@import "typography.scss";

body {
  margin: 0;
  font-family: -apple-system, SF Pro Display,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #C6C6C6;
  border-radius: 5px;
}